@use '../../custom' as *;
@use '../../components/color' as *;
@use '../../components/mixins' as *;

.latest_articles {
  position: relative;
  padding: 50px 0;
  .section_heading_s2 {
    margin-bottom: 60px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 50px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  .p_head_style {
    display: inline-block;
    &::after {
      width: 35%;
      height: 20px;
      bottom: 5px;

      @include media-breakpoint-down(sm) {
        display: block;
        height: 12px;
        width: 63%;
      }
    }
  }

  &__featured {
    .post {
      &__title {
        max-width: 500px;
        margin: 25px 0;

        @include media-breakpoint-down(lg) {
          margin: 20px 0;
        }

        @include media-breakpoint-down(sm) {
          margin-bottom: 15px;
        }
      }

      .cat_badge {
        @include catBadge($primary, $p_text_dark);
      }

      &__img {
        min-height: 400px;
        @include bg_img(cover, center);
        position: relative;

        .post_date {
          @include postDateLeft;
        }

        .post_excerpt {
          position: absolute;
          width: 330px;
          height: 155px;
          padding: 5px 0 30px 30px;
          right: 0;
          top: 0;
          background-color: #ffffff;

          @media (max-width: 480px) {
            position: static;
            padding: 0;
            height: auto;
            width: auto;
            padding-bottom: 15px;
          }

          a {
            display: table;
            margin-left: auto;
            margin-top: 30px;

            @media (max-width: 480px) {
              display: none;
            }
          }
        }
      }
    }
  }

  &__grid {
    margin-top: 30px;
    .post {
      &__img {
        @include bg_img(cover, center);
        position: relative;
        min-height: 500px;
        width: 370px;

        @include media-breakpoint-down(xl) {
          min-height: 385px;
          width: 280px;
        }

        @include media-breakpoint-down(lg) {
          min-height: 385px;
          width: 315px;
        }

        @include media-breakpoint-down(md) {
          min-height: 300px;
          width: 90%;
        }

        @include media-breakpoint-down(sm) {
          min-height: 270px;
          width: 100%;
        }

        .post_date {
          @include postDateRight;

          @include media-breakpoint-only(lg) {
            right: -85px;
          }

          @media (max-width: 650px) {
            display: none;
          }
        }

        .cat_badge {
          @include catBadge($primary, $p_text_dark);
          position: absolute;
          left: 10px;
          bottom: -10px;
        }
      }

      &__title {
        display: inline-block;
        margin-top: 30px;
        margin-bottom: 40px;
        max-width: 95%;

        @include media-breakpoint-down(xl) {
          max-width: 80%;
        }

        @include media-breakpoint-down(sm) {
          margin-top: 20px;
        }

        .blog-grid-heading-md {
          @include media-breakpoint-down(xl) {
            font-size: 26px;
          }

          @include media-breakpoint-down(lg) {
            font-size: 22px;
          }

          @include media-breakpoint-down(md) {
            font-size: 20px;
          }
        }
      }
    }

    .pagination {
      margin-top: 30px;
      @include flex-center;

      @include media-breakpoint-down(lg) {
        margin-top: 20px;
        margin-bottom: 45px;
      }
      li {
        margin: 0 15px;

        @include media-breakpoint-down(sm) {
          margin: 0 10px;
        }

        a {
          color: #6b6a6a;
          font-family: sans-serif;
        }
      }

      li.active {
        a {
          display: inline-block;
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          border-radius: 50%;
          color: $p_text_dark;
          background-color: $primary;
        }
      }
    }
  }
}
