@use '../custom' as *;
@use '../components/color' as *;
@use '../components/mixins' as *;
@use '../components/animation' as *;

#header {
  @include flex-v_center;
  height: 115px;
  padding-top: 20px;

  .logo {
    img {
      width: 140px;
      display: block;
      margin: 0 auto;

      @include media-breakpoint-down(lg) {
        margin: initial;
      }
    }
  }

  .header_menu {
    cursor: pointer;
    width: max-content;
    i {
      font-size: 20px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  .header_right {
    @include flex-v_center;
    justify-content: flex-end;

    .header_social {
      @include flex-v_center;
      border-right: 1px solid #e6e6e6;
      margin-right: 25px;

      li {
        margin-right: 20px;

        &:last-child {
          margin-right: 25px;
        }

        a {
          color: $text_dark;
          font-size: 14px;
          display: inline-block;

          transition: 0.3s;

          &:hover {
            color: $hover_text_dark;
          }
        }
      }
    }

    .header_search {
      i {
        cursor: pointer;
      }

      &--overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(black, 0.9);
        display: none;
        z-index: 999;

        form {
          width: 0%;
          position: relative;
          @include absolute-center;

          input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(white, 0.5);
            padding: 20px 0;
            outline: none;
            width: 100%;

            &:focus {
              border-bottom: none;
            }
          }

          .search-close {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            display: none;
            i {
              color: rgba(white, 0.5);
              font-size: 28px;
            }
          }
        }
      }
    }
  }
  hr {
    height: 1px;
    opacity: 1;
    color: #e6e6e6;
    transform: translateY(15px);
  }
}
