@use '../custom' as *;
@use '../components/mixins' as *;

.section_heading {
  position: relative;
  display: inline-block;

  &::before {
    @include pseudoTopLeft(50%, -230px);
    width: 200px;
    height: 2px;
    background-color: #e6e6e6;
    transform: translateY(-50%);

    @include media-breakpoint-down(lg) {
      width: 115px;
      left: -150px;
    }

    @include media-breakpoint-down(md) {
      left: -150px;
    }

    @include media-breakpoint-down(sm) {
      width: 62px;
      left: -90px;
    }
  }

  &::after {
    @include pseudoTopRight(50%, -230px);
    width: 200px;
    height: 2px;
    background-color: #e6e6e6;
    transform: translateY(-50%);

    @include media-breakpoint-down(lg) {
      width: 115px;
      right: -150px;
    }

    @include media-breakpoint-down(md) {
      right: -150px;
    }

    @include media-breakpoint-down(sm) {
      width: 62px;
      right: -90px;
    }
  }
}
