@use '../custom' as *;

$primary: $yellow;

$text_dark: rgba(black, 0.8);
$hover_text_dark: rgba(black, 0.4);
$text_light: #dcdcdc;
$p_text_dark: #222222;
$p_text_light: #717171;
$author_box: #444444;
