@use '../custom' as *;
@use '../components/color' as *;

@mixin heading_text {
  font-family: "Oswald", sans-serif;
  color: $text_dark;
}

@mixin flex-v_center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin pseudoTopRight($top, $right) {
  content: "";
  position: absolute;
  top: $top;
  right: $right;
}

@mixin pseudoTopLeft($top, $left) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;
}

@mixin pseudoBottomRight($bottom, $right) {
  content: "";
  position: absolute;
  bottom: $bottom;
  right: $right;
}

@mixin pseudoBottomLeft($bottom, $left) {
  content: "";
  position: absolute;
  bottom: $bottom;
  left: $left;
}
